<div class="block session">
	<div class="session_wrapper1">
    <div class="event_hour">
      <%=t('time.from').capitalize%>
		</div>
	  <div class="event_month">
      <%=session.start_at.strftime("%H:%M") %>
    </div>
		<div class="event_hour">
			<%=t('time.to')%>
		</div>
		<div class="event_month">
			<%=session.end_at.strftime("%H:%M") %>
		</div>
	</div>
	<div class="session_wrapper2">
		<div class="block header_text session_title">
      <h3><span class="header_title"><%=session.title%></span></h3>
      <span>Editar</span>|       <span>Eliminar</span>
	  </div>
	  <div class="content">
	    <%=session.description %>
	  </div>
	</div>
</div>
