<div class="row">
	<div class="session_wrapper1">
    <div class="event_hour">
      <%=t('time.from').capitalize%>
		</div>
	  <div class="event_month">
      <%=session.start_at.strftime("%H:%M") %>
    </div>
		<div class="event_hour">
			<%=t('time.to')%>
		</div>
		<div class="event_month">
			<%=session.end_at.strftime("%H:%M") %>
		</div>
	</div>
	<div class="session_wrapper2">
		<div class="entry_title">
	    <div class="title_name_and_hour">
	      <!--<span class="entry_hour">
	        <%=session.start_at.strftime("%H:%M") %> <%=t('to')%> <%=session.end_at.strftime("%H:%M") %>
	      </span>-->
	      <span class="entry_name">
	        <%=session.title%>
	      </span>
	    </div>
	  </div>
	  <div class="agenda_entry_description">
	    <ul class="agenda_list_content">
	      <li><%=session.description %></li>
      </ul>
	  </div>
	</div>
</div>
<div class="space_center"></div>
