<div id="middleContent">
		<div class="space_center">
		</div>
		<div class="space_center">
		</div>
		<div class="space_center">
		</div>
		<div class="future_conference">
				<div class="future_header">
					<%= image_tag("buttons/btn_date.png", :alt => "date") %> <%=t('video_conferences.upcomming') %>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
								<div class="future_picture">
									<%= image_tag("conferences/1.png", :alt => "videoconferences") %>
								</div>
								<div class="future_description">
										<div class="future_link">
												<a href="evento_upcomming.htm">LACLO 2010 Conference</a>
										</div>
										<div class="future_brief">
												Sept 27, 2010  a las 14h00 (GMT -02:00)
										</div>
								</div>
						</div>
				</div>

		</div>
		<div class="space_center">
		</div>
		<div class="space_center">
		</div>
		<div class="future_conference">
				<div class="future_header">
					<%= image_tag("buttons/btn_date.png", :alt => "date") %> <%=t('video_conferences.last') %>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
								<div class="future_picture">
									<%= image_tag("conferences/3.png", :alt => "videoconferences") %>
								</div>
								<div class="future_description">
										<div class="future_link">
												<a href="evento.htm">Videoconferencia España-Madrid</a>
										</div>
										<div class="future_brief">
												Reuniones entre varias universidades
										</div>
								</div>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
								<div class="future_picture">
									<%= image_tag("conferences/4.png", :alt => "videoconferences") %>
								</div>
								<div class="future_description">
										<div class="future_link">
												<a href="evento.htm">Videoconferencia - Europea</a>
										</div>
										<div class="future_brief">
												Reunión entre varias universidades
										</div>
								</div>
						</div>
				</div>
				<div class="future_footer">
						<%= image_tag("buttons/btn_next.png", :alt => "next") %>
				</div>
		</div>
		<div class="space_center">
		</div>
</div>