 <div id="rightContent">
		<div id="bookmark">
			<%=image_tag("buttons/btn_bookmark.png", :alt => "Bookmark")%><%= link_to "Follow",
                                ties_path("tie[sender_id]" => current_user.actor.id,
                                          "tie[receiver_id]" => @group,
                                          "tie[relation_name]" => "follower"),
                                :method => :post,
                                :remote => true %>
		</div>
		<div id="logo">
			<%=link_to((image_tag(@group.logo.url, :alt => @group.name , :size => "119x108")) , group_path)%>
		</div>
		<div id="tabright" class="widget">
				<ul class="tabinfo fondo">
						<li>
								<a href="#info">Information</a>
						</li>
						<li>
							<a href="#info"><%=(image_tag("buttons/btn_tag.png", :alt => "tags"))+t('tags')%></a>
						</li>
				</ul>
				<div id="info" class="tabinfo">
						Place:
						<br/>
						Avendia Complutense 30 
						<br/>
						Ciudad Universitaria 
						<br/>
						28040 Madrid 
						<br/>
						Phone: 
						<br/>
						(593-4) 2 269269 
						<br/>
						<a href="mailto:info@dit.upm.es">info@dit.upm.es</a>
						<br/>
				</div>
				<!--/popular-->
				<div id="tag" class="tabinfo">
						tag1, tag2, tag3, tag4, tag5
						tag6, tag7, tag8, tag9, tag10
				</div>
		</div>
							<div id="space_center">
		</div>
		<div id="partners">
				<div id="title_partners">
					 <%=image_tag("buttons/btn_partner.png", :alt => "Partners")%><%=t('partners')%>
				</div>
				<div class="partner_line">
					  <%=link_to((image_tag("thumb_followers/1.png", :alt => "partner-1" , :size => "40x40")) , group_path)%>
					  <%=link_to((image_tag("thumb_followers/2.png", :alt => "partner-2", :size => "40x40")) , group_path)%>
					  <%=link_to((image_tag("thumb_followers/3.png", :alt => "partner-3", :size => "40x40")) , group_path)%>
				</div>
			 
				<div class="future_footer">
					<%=link_to((image_tag("buttons/btn_next.png", :alt => "next")) , group_path)%>
				</div>
		</div>
		<div class="space_center">
		</div>
							<div class="space_center">
		</div>
		<div id="follower">
				<div id="title_follower">
					<%=image_tag("buttons/btn_follower.png", :alt => "Follower")%><%=@group.followers.count%> <%=t('group.followers')%>
				</div>
				<div class="follower_line">
          <% @group.followers.all.each do |follower| %>
					    <%=link_to((image_tag(follower.logo.url, :alt => follower.name , :size => "40x40")) , follower)%>
          <%end%>
				</div>
				<div class="future_footer">
					<%=link_to((image_tag("buttons/btn_next.png", :alt => "next")) , group_path)%>
				</div>
		</div>
		<div class="space_center">
		</div>
	 <div class="space_center">
		</div>
		<div id="photos">
				<div id="title_photos">
						<%=image_tag("buttons/btn_photo.png", :alt => "Photo")%> 345 <%=t('photos')%>, 35 <%=t('albums')%>
				</div>
				<div class="photo_line">
					<%=link_to((image_tag("albums/1.png", :alt => "album-1" , :size => "40x40")) , users_path)%>
					<%=link_to((image_tag("albums/3.png", :alt => "album-1" , :size => "40x40")) , users_path)%>
					<%=link_to((image_tag("albums/4.png", :alt => "album-1" , :size => "40x40")) , users_path)%>
				</div>
			 
				<div class="future_footer">
					<%=link_to((image_tag("buttons/btn_next.png", :alt => "next")),group_path)%>
				</div>
		</div>
		<div class="space_center">
		</div>
</div>