<% content_for :javascript do %>
  <%= render :partial => 'activities/jquery' %>
<%end%>
<div id="wrapper_activities_header">
    <div id="activities_title" class="content_size">
			<%= image_tag("buttons/btn_activities.png") %> <%=t('activity.other')%>
    </div>
    <%= render :partial => 'activities/new', :locals => { :receiver => @user } %>
</div>
<div id="wall">
<% if @user.wall.any? %>
	<%= render @user.wall.all  %>
<% end %>
</div>
