<div id="rightContent">
		<div class="space_center">
		</div>
		<div class="space_center">
		</div>
		<div id="logo">
			<%=link_to ( (image_tag ( @user.logo, :alt => @user.name , :size => "120x196")) , @user) %>
				<br/>
				<%=@user.name %>
				<br/>

		</div>
		<div class="space_center">
		</div>
		<div class="menu_lateral">
				<div class="option_menu">
						<div class="text_menu">
								 &nbsp;&nbsp;<a href="#">Write a Message to <%=@user.name%></a>
						</div>
				</div>
		</div>
		<div class="space_center">
		</div>
		<div class="menu_lateral">
				<div class="option_menu">
					<%= image_tag("buttons/btn_inbox.png") %>
						<div class="text_menu">
								<a href="#">Inbox(2)</a>
						</div>
				</div>
		</div>
		<div id="space_center_border">
		</div>
		<div class="space_center">
		</div>
		<div id="sub_menu_lateral">
				<div class="option_menu">
					<%= image_tag("buttons/btn_video.png") %>
						<div class="text_menu">
								<a href="#">Spaces</a>
						</div>
				</div>
				<div class="option_menu">
					<%= image_tag("buttons/btn_video.png") %>
						<div class="text_menu">
								<a href="#">VideoConferences(2)</a>
						</div>
				</div>
				<div class="option_menu">
					<%= image_tag("buttons/btn_conferences.png")%>
						<div class="text_menu">
								<a href="#">Congress</a>
						</div>
				</div>
				<div class="option_menu">
					<%= image_tag("buttons/btn_certificates.png") %>
						<div class="text_menu">
								<a href="#">Certificates</a>
						</div>
				</div>
		</div>
</div>