<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
    <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_object_id %><br />
    <%= f.text_field :activity_object_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
