<div id="wrapper_activities_header">
    <div id="activities_title" class="content_size">
        <img src="images/buttons/btn_activities.png" />Activities
    </div>
    <div id="activities_header" class="content_size">
      <%= form_for Post.new(:text => "What do you dou?",
                            :activity_wall_id => current_user.actor.id,
                            :activity_role_id => Role["Public"].id) do |f| %>
        <%= f.hidden_field :activity_wall_id %>
        <%= f.hidden_field :activity_role_id %>
        <%= f.text_field :text, :id => "input_activities", :size => 85 %>
        <div id="activities_share">
          <img src="images/buttons/btn_security.png" />
          <%= image_submit_tag "buttons/btn_share.png" %>
        </div>
      <% end -%>
    </div>
</div>

<% if current_user.wall.any? %>
<% current_user.wall.all.each do |activity| %>
<div class="post content_size">
    <div class="picture_follower">
        <img src="images/followers/3.png" />
    </div>
    <div class="content_post">
        <div class="name_follower content_size">
           <%=activity.author.name %>
        </div>
        <div class="content_post_follower content_size">
            Join to group of <a href ="espacio.htm">VideoConferencias en Tiempo Real</a>
        </div>
        <div class="post_options_follower ">
            <span class="post_time_ago">33 minutes ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
        </div>
    </div>
</div>
<% end %>
<% end %>


		
<div class="post content_size">
    <div class="picture_follower">
        <img src="images/followers/3.png" />
    </div>
    <div class="content_post">
        <div class="name_follower content_size">
            Ariana García
        </div>
        <div class="content_post_follower content_size">
            Join to group of <a href ="espacio.htm">VideoConferencias en Tiempo Real</a>
        </div>
        <div class="post_options_follower ">
            <span class="post_time_ago">33 minutes ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
        </div>
    </div>
</div>




<div class="post content_size">
    <div class="picture_follower">
        <img src="images/followers/3.png" />
    </div>
    <div class="content_post">
        <div class="name_follower content_size">
            Ariana García
        </div>
        <div class="content_post_follower content_size">
            Join to group of <a href ="espacio.htm">VideoConferencias en Tiempo Real</a>
        </div>
        <div class="post_options_follower ">
            <span class="post_time_ago">33 minutes ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
        </div>
    </div>
</div>
<div class="post content_size">
    <div class="picture_follower">
        <img src="images/spaces/4.png" />
    </div>
    <div class="content_post">
        <div class="name_follower content_size">
            Global Plaza
        </div>
        <div class="content_post_follower content_size">
            Invita a <a href="evento_upcomming.htm">Congreso en vivo sobre "La inteligencia artificial y su impacto en los videos multimedia"</a>
            <br/>
            Since Tuesday, 06 Apr 2010 at 17h00, until Friday, 10 Apr 2010 at 08h00 (GMT +01h00)
        </div>
        <div class="post_options_follower">
            <span class="post_time_ago">17 hours ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">Suscribe</a>
        </div>
        <div class="post_comments ">
            <div class="content_sub_post coment_border">
                Hay 65.000 suscritos en este congreso
            </div>
            <div class="space_comments">
            </div>
            <div class="content_sub_post coment_border">
                <div class="picture_follower">
                    <img src="images/followers/1.png" />
                </div>
                <div class="content_post">
                    <div class="name_follower">
                        Santiago Morante
                    </div>
                    <div class="content_post_follower">
                        Este tipo de eventos son increibles para los avances de las tecnologías
                    </div>
                    <div class="post_options_follower ">
                        <span class="post_time_ago">33 minutes ago</span>
                        <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
                        <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
                    </div>
                </div>
            </div>
            <div class="space_comments">
            </div>
            <div class="content_sub_post coment_border">
                <div class="coment_field">
                    <input name="new_space" class="input_new_comments" value="Write a comment" size="65"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="post">
    <div class="picture_follower">
        <img src="images/followers/2.png" />
    </div>
    <div class="content_post">
        <div class="name_follower content_size">
            Santiago Morante
        </div>
        <div class="content_post_follower content_size">
            Las videoconferencias tradicionales abundan en molestos "delays" de sonido e imagenes de baja calidad
            una nueva tecnologia permite celebrar una conferencia vitual como si usted tuviera a su interloculor..
        </div>
        <div class="post_options_follower">
            <span class="post_time_ago">17 hours ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
        </div>
    </div>
</div>
<div class="post">
    <div class="picture_follower">
        <img src="images/followers/2.png" />
    </div>
    <div class="content_post">
        <div class="name_follower content_size">
            Santiago Morante
        </div>
        <div class="content_post_follower content_size">
            Publico un paper 
            de Inteligencia artificial en la <a href ="evento_upcomming.htm">conferencia de Objetos
                de Aprendizje Latinoamericano (LACLO)</a>
        </div>
        <div class="post_options_follower">
            <span class="post_time_ago">1 day ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><a href="#">I like</a>
        </div>
    </div>
</div>
