<div id="my_conferences">
    <div id="tabconferences" class="widget content_size">
        <ul class="tabconference">
        	<% if current_user.videos.any? %>
            <li>
                <a href="#title-conferences">Conferences</a>
            </li>
			<%end %>
            <li>
                <a href="#title-top-conferences"><%=t('video_conferences.top')%></a>
            </li>
        </ul>
		<% if current_user.videos.any? %>
        <div id="title-conferences" class="tabconference">
				<% Video.all.each do |video| %>
				<div class="conferencex">
				    <div>
				        <%=link_to(image_tag(''),video) %>
				    </div>
				    <div>
				        <span class="title_conference content_size"><%=video.name %></span>
				        <br/>
				        <span class="conference_content">15 views 
				            <br/>
				            Nombre Speaker
				        </span>
				    </div>
				</div>
				<% end %>
            <div class="conferencex">
                <div id="conference_next">
                    <img src="images/next_conference.png" alt="next conference" />
                </div>
            </div>
			
        </div>
		<% end %>
		
        <div id="title-top-conferences" class="tabconference">
			<% Video.all.each do |video| %>
			<div class="conferencex">
			    <div>
			        <%=link_to(image_tag(''),video) %>
			    </div>
			    <div>
			        <span class="title_conference content_size"><%=video.name %></span>
			        <br/>
			        <span class="conference_content">15 views 
			            <br/>
			            Nombre Speaker
			        </span>
			    </div>
			</div>
			<% end %>


        </div>
    </div>
</div>
