<% content_for :middle do %>
	<%= render :partial => "layouts/middle" %>
<% end %>

<% content_for :right do %>
	<%= render :partial => "layouts/right" %>
<% end %>


<%= render :partial => 'home/location' %>
<br class="clearfloat" />
<div class="space_center">
</div>
<%= render :partial => "home/myspaces" %>
<%= render :partial => "home/activities" %>