<% if @event and @event.errors.any? %>
<div class="error">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this message from being sent:</h2>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_for @event do |f| %>
  <div class="form_row">
    <%= label_tag :name %>
  </div>
  
  <div class="form_row">
    <%= f.text_field :name %>
  </div>

  <div class="form_row">
    <%= label_tag :description %>
  </div>
  
  <div class="form_row">  
    <%= f.text_area :description , :rows => 10%>
  </div>

  <div class="form_row">
    <%= label_tag :start_at%>
  </div>
  
  <div class="form_row">
    <%= f.datetime_select :start_at %>
  </div>

  <div class="form_row">
    <%= label_tag :end_at%>
  </div>
  
  <div class="form_row">
    <%= f.datetime_select :end_at %>
  </div>

  <div class="form_row">
    <%= f.submit "Edit event", :class => "button" %>
  </div>

<% end %>