<% content_for :javascript do %>

 calendar = $('#calendar').fullCalendar({
    header: {
      left: '',
      center: '',
      right: ''
    },
    allDaySlot: false,
    axisFormat: 'HH:mm',
    timeFormat: 'H:mm{ - H:mm}',
    slotMinutes: 15,  
    year:<%= @event.start_at.strftime("%Y")%>,
    month:<%= @event.start_at.month-1 %>,
    date:<%= @event.start_at.strftime("%d")%>,
    minTime: '<%= @event.start_at.hour.to_s + ':00' %>',
    maxTime: '<%= (@event.end_at.hour + 1).to_s + ':00' %>',
    editable: true,
    defaultView: 'agendaDay',  
    selectHelper:true,
    selectable:true,
    unselectAuto:false,
    select: function( startDate, endDate, allDay, jsEvent, view ){
      
      current_qtip = $("#calendar");
      current_qtip.qtip({
         content: {
           text: //event_agenda_sessions_path(@event) $("#session_name").val()
             'Title: <%= text_field :session , :name %></br> <%= hidden_field :session , :start_at %><%= hidden_field :session , :end_at %>' + 
        '<%= escape_javascript(link_to 'Create session', '#',
        :onclick => 'send_session()') %>'


         ,
           title: {
             text: 'Create new entry'
           }
         },
         style:{
           title:{
             'background':'#244974',
             'color':'#FFFFFF'
           }
         },
         show: { 
           ready:true,
           when: {
             event: 'click'
           }
         },
         hide: {
           fixed:true,
           when: {
             event: 'unfocus'
           }
         },
         position: {
           corner: 'center',
           adjust:{
             scroll: false
           }
         },
         api: {
           onHide: function(){
             calendar.fullCalendar('unselect');
             current_qtip.qtip('destroy');
           },
           onShow: function(){
             $("#qtip_title").focus();
           }
         }
      });
      $("#session_start_at").val(startDate);
      $("#session_end_at").val(endDate);
      


    }

  });

send_session =  function(){
  $.post('<%= event_agenda_sessions_path(@event)%>', { session : {name: $("#session_name").val(), start_at: $("#session_start_at").val(), end_at:  $("#session_end_at").val()}},
    function(data) {
      
      calendar.fullCalendar('unselect');
       alert($("#session_start_at").val());
      calendar.fullCalendar('renderEvent',
            {
              title: "title",
              start: $("#session_start_at").val(),
              end: $("#session_start_at").val()
        
            },
            true // make the event "stick"
          );
        current_qtip.qtip('destroy');

      
   });
}

<% end %>

<div id="calendar"></div>
aaaa