<% content_for :headers do  %>
  <%= javascript_include_tag 'fullcalendar' %>
  <%= stylesheet_link_tag 'fullcalendar' %>
<% end -%>
<% receiver = current_subject%>

<% content_for :javascript do %>
      $(document).ready(function(){
		$('#calendar').fullCalendar({
			firstDay: 1,
			axisFormat: 'HH:mm G\'M\'\'T\' <%= escape_javascript(Time.zone.formatted_offset) %>',
                        ignoreTimezone: true,
			allowCalEventOverlap: false,
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				if (dateAvailable(start, end, allDay)) {
          var title = prompt('Event Title:');
					$('#calendar').fullCalendar('renderEvent', {
						title: title,
						start: start,
						end: end,
            editable: true,
						allDay: allDay
					  }, false
                    );
				    createSessionEvent(title, start, end, '<%= params[:id]%>','<%=current_subject.contact_to!(receiver).id %>');
				}
				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeek',
			height: 500,
			columnFormat: {
                            month: 'ddd',
                            week: 'ddd d/M',
                            day: 'dddd d/M'
      },
			slotMinutes: 30,
			loading: function(bool){
				if (bool) 
					//$('#loading').show();
					$('#loading').hide();
				else 
					$('#loading').hide();
			},
      events: "/agendas/<%= params[:id]%>/get_sessions",

			timeFormat: 'HH:mm t{ - HH:mm t} ',
			dragOpacity: "0.5",
			eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
			  moveSession(event, dayDelta, minuteDelta, allDay);
			},
			
			eventResize: function(session, dayDelta, minuteDelta, revertFunc){
				if (dateAvailable(event.start, event.end, false)) 
				{				
				  resizeEvent(event, dayDelta, minuteDelta);
				}
				else 
				{
				  revertFunc();
				}
			},
			
			eventClick: function(event, jsEvent, view){
			    if (event.editable) {
					showSessionDetails(event);
				} else {
				    showSessionDescription(event);
				}
			}
		});
	});
	
<% end %>

<p>
  <% link_to 'Create Event',
      :url => {:action => :new}, 
      :before => "$('#loading').show()", 
      :complete => "$('#loading').hide()",
      :remote => "true"
  %>



<div><div id='calendar'></div></div>

<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc"></div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" style ="display:none;">
  <div id = "create_event">
  </div>
</div>
