<div class="dialog_add_tie">
    <div class="content_add_user">
      <div class="tie_logo">
        <%= link_to image_tag(@tie.receiver_subject.logo.url,
                              :size => "100x100",
                              :alt => @tie.receiver_subject.name),
                     @tie.receiver_subject %>
      </div>
      <div class="activity_add_ties">
        <div><%= t('message')+":" %><br />
         <%= form_for @tie,
                      :remote => true do |f| %>
           <%= f.text_area :message,   :class =>"input_new_suggestions" %>
            <%= f.hidden_field :receiver_id %>
            <%= f.hidden_field :sender_id %>
            <%= f.hidden_field :relation_name %>
           <div class="ties_btn">
             <%= submit_tag t('friend.add'), :class => "follow_btn" %>
           </div>
         <% end %>
        </div>
      </div>
    </div>
</div>