      <div class="header_text">
			  <%= @cs.count %> <%= t('contact', :count => @cs.count) %>
		  </div>
		  <div class ="content">
			  <% cont=0; %>
			  <% @cs.each do |contact| %>
				  <% if (cont%2) == 0 %>
				    <% cont+=1; %>
				    <div class="row">
				  <% end %>
          <% content_for :javascript do %>
          	$(function () 
            {
            });
          <% end %>
          <div class="block" id="manage_settings">
            <div class="header">
              <div class="header_text">
                <%= t('settings.manage.name')%>
              </div>
              <div class="header_icon_right">
                <%= link_to (image_tag('btn/edit.png')),  "javascript:showContactSettings();" %>
              </div>
            </div>
            <div class="content" id="contact_settings_briefing">
              <div class="form_row">
                  <%= t('settings.manage.briefing')%>
              </div>
            </div>
            <div class="content" id="contact_settings_content" style="display:none;">
              <div class="settings_block">
                <div class="form_row">
                  <%=t('settings.manage.explanation') %>: 
                </div>
                <div class="form_sub_row">
            		  <% if (cs = current_subject.contact_subjects(:direction => :sent)).present? %>
	                  <div class="header_text">
		                  <%= cs.count %> <%= t('contact', :count => cs.count) %>
	                  </div>
                    <div class ="content">
	                    <div class="contact space_center_manage">
		                    <% cs.each do |contact| %>
			                    <div id="contact_data">
          					        <% variable=current_subject.ties_to(contact).to_a %>
				                    <% temporal='' %>
				                    <% variable.each do |temp| %>
					                    <% temporal=temp.relation_id %>
				                    <% end %>
		                        <div class="label">
			                        <div class="logo">
			                          <%= link_to image_tag(contact.logo.url , :size => "50x50", :alt => contact.name), contact %>
			                        </div>
		                          <div class="sub-block">
			                          <div class="name black" >
				                          <%=link_to(truncate_name(contact.name), contact)%>
			                          </div>
			                          <div class="link">
                                  <%= form_tag "/settings/update_relation/"+contact.actor_id.to_s, :method => :post ,:id=> contact.actor_id.to_s, :class => "tie_form" do %>
                                    <%= select "manage","contacts",current_subject.relation_customs.collect{|r| [r.name, r.id]},	{:selected=>temporal},{:onchange=>'this.form.submit();'} %>
              			                <% contacto=Contact.where(["sender_id="+current_subject.id.to_s+" and receiver_id="+contact.actor_id.to_s]) %>
              			                <% ties_a_editar=contacto.first.ties %>
		                                <% if ties_a_editar.first!= nil %>		
		                                  <%= ties_a_editar.first.id.inspect%>
		                                <% end %>
		                              <% end %>
			                          </div>
		                          </div>
		                        </div>
		                    <% end %>
		                    <% if ((cont%2) != 0) 	%>
		                      <div class="label">
			                    </div>
			                  </div>
		                    <% end %>
                        <div class="row">
                          <%= paginate @cs %>
                        </div>
			                </div>
		              <% end %>
	              </div>
	            </div>
	      <% end %>
        </div>
        </div>
    </div>
</div>

