  <div id="my_conferences">
		  <div id="contacts" class="block">
		    <div class="search_field_wrapper">
		      <input type="text" value="Search by name" id="search_field" class="search_input" />
		      <%= image_tag("btn/search.png",:size=>"20x20",:id=>"search_button") %>
		    </div>
		    <div class="space_center">
        </div>
		    <div class="row" >
		      <div class="center">
			      <%= link_to t('contact.all_n', :count => current_subject.contact_subjects(:direction => :sent).count), contacts_path %> -
			      <% Actor.distinct_initials.
				        contacted_from(current_subject).
				        merge(Tie.related_by(current_subject.relation_customs.find_by_id(params[:relation]))).
				        distinct_initials.
		        each do |l| %>
			        <%= link_to l.initial,{:letter => l.initial,:page => 1},:class => "contact_letter_link" %>
			      <% end %>
		      </div>
		    </div>
		    <div class="space_center">
        </div>
		    <div id="list_contacts_ajax" class="tab_content block">
		        <div class ="content">
			        <% cont=0; %>

				        <% if (cont%2) == 0 %>
				          <% cont+=1; %>
				          <div class="row">
				        <% end %>          
                <div class="block" id="manage_settings">
                  <div class="content" id="contact_settings_content">
                    <div class="settings_block">
                      <div class="form_row">
                        <%=t('settings.manage.explanation') %>: 
                      </div>
                      <div class="form_sub_row">
                  		  <% if (cs = current_subject.contact_subjects(:direction => :sent)).present? %>
	                        <div class="header_text">
		                        <%= cs.count %> <%= t('contact', :count => cs.count) %>
	                        </div>
                          <div class ="content">
	                          <div class="contact space_center_manage">
		                          <% cs.each do |contact| %>
			                          <div id="contact_data">

                					        <% variable=current_subject.ties_to(contact).to_a %>
				                          <% temporal='' %>
				                          <% variable.each do |temp| %>
					                          <% temporal=temp.relation_id %>
				                          <% end %>

		                              <div class="label">
			                              <div class="logo">
			                                <%= link_to image_tag(contact.logo.url , :size => "50x50", :alt => contact.name), contact %>
			                              </div>
		                                <div class="sub-block">
			                                <div class="name black" >
				                                <%=link_to(truncate_name(contact.name), contact)%>
			                                </div>
			                                <div class="link">
                                        <%= form_tag "/settings/update_relation/"+contact.actor_id.to_s, :method => :post ,:id=> contact.actor_id.to_s, :class => "tie_form" do %>
                                          <%= select "manage","contacts",current_subject.relation_customs.collect{|r| [r.name, r.id]},	{:selected=>temporal},{:onchange=>'this.form.submit();'} %>
                    			                <% contacto=Contact.where(["sender_id="+current_subject.id.to_s+" and receiver_id="+contact.actor_id.to_s]) %>
                    			                <% ties_a_editar=contacto.first.ties %>
		                                      <% if ties_a_editar.first!= nil %>		
		                                        <%= ties_a_editar.first.id.inspect%>
		                                      <% end %>
		                                    <% end %>
			                                </div>
		                                </div>
		                              </div>
		                          <% end %>
		                          <% if ((cont%2) != 0) 	%>
		                            <div class="label">
			                          </div>
			                        </div>
		                          <% end %>
                              <div class="row">
                                <%= paginate @cs %>
                              </div>
			                      </div>
		                    <% end %>
	                    </div>
	                  </div>

              </div>

                  </div>
              </div>
          </div>

		      </div>
	    </div>
	  </div>
