<div class="post content_size" >
    <div class="picture_follower">
        <%= image_tag(activity.author.user.logo) %>
    </div>
    <div class="content_post">
        <div id="activity<%= activity.id %>" class="name_follower content_size">
            <%=activity.author.name %>
        </div>
        <%= render activity.activity_objects %>
        <div class="post_options_follower ">
            <span class="post_time_ago"><%=time_ago_in_words(activity.created_at)%> ago</span>
            <img src="images/point_gray.png" alt="gray_button" /><a href="#">Comments</a>
            <img src="images/point_blue.png" alt="blue_button" /><%= link_to "I like", activity_like_path(activity), :method => :post, :remote => true %>
            <img src="images/point_blue.png" alt="blue_button" /><%= link_to "Delete", activity, :confirm => 'Are you sure?', :method => :delete %>
        </div>
        <div class="post_comments ">
            <div class="space_comments">
            </div>

            <%= render activity.comments %>

            <div class="content_sub_post coment_border">
                <div class="picture_follower">
                    <img src="images/followers/3.png" />
                </div>
                <div class="content_post">
                    <div class="name_follower">
                        Ariana García
                    </div>
                    <div class="content_post_follower">
                        Este tipo de eventos son increibles para los avances de las tecnologías
                    </div>
                    <div class="post_options_follower ">
                        <span class="post_time_ago">33 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="space_comments">
            </div>
            <div class="content_sub_post coment_border">
                <div class="coment_field">
                  <%= form_for Comment.new(:text => "Write a comment",
                                           :_activity_contact_id => current_contact.id,
                                           :_activity_parent_id => activity.id),
                               :remote => true do |f| %>

                    <%= f.hidden_field :_activity_contact_id %>
                    <%= f.hidden_field :_activity_parent_id %>
                    <%= f.text_field :text, :class => "input_new_comments", :size => 65 %>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
