<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title><%= yield(:title) || current_site.name %></title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <%= stylesheet_link_tag "base", :media => "screen, projection" %>
        <%= stylesheet_link_tag "header", :media => "screen, projection" %>
        <%= stylesheet_link_tag "index", :media => "screen, projection" %>
        <%= stylesheet_link_tag "activities", :media => "screen, projection" %>
        <%= stylesheet_link_tag "right", :media => "screen, projection" %>
        <%= stylesheet_link_tag "home", :media => "screen, projection" %>
        <!--[if IE]>
            <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
        <![endif]-->
        <script type="text/javascript">
            if (navigator.userAgent.indexOf('Mac') != -1) {
                document.write("<link href='/stylesheets/mac.css' media='screen, projection' rel='stylesheet' type='text/css' />");
            }
        </script>

       
        <%= javascript_include_tag 'jquery-1.4.2', 'hoverIntent', 'superfish', 'main', 'jquery-ui-personalized-1.5.2.packed' , 'rails' %>
		<%= javascript_include_tag 'application' %>
        <% if protect_against_forgery? %>
			<%= csrf_meta_tag %>
        <% end %>				
        <%= yield :headers %>
    </head>
    <body>
        <div id="wrapper">
            <%= render :partial => "layouts/header" %>
            <div id="wrapper_body">
                <div id="content">
                	<%= yield %>
                </div>
                <div id="middle">
                	<%= yield :middle %>
                	
                </div>
                <div id="right">
                	<%= yield :right %>
                </div>
                <br class="clearfloat" />
            </div>
            <%= render :partial => "layouts/footer" %>
        </div>
        <%if false && current_site.domain == "globalplaza.org" %>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12096965-1");
                pageTracker._trackPageview();
            } 
            catch (err) {
            }
        </script>
        <%end %>
    </body>
</html>
