<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><%= yield :title %></title>
        <link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico" />
        
        <link rel="shortcut icon" href="images/icons/favicon.ico" />
        <%= stylesheet_link_tag "frontpage", :media => "screen, projection" %>
        <%= stylesheet_link_tag "lightbox", :media => "screen, projection" %>
        <%= stylesheet_link_tag "jquery.fancybox", :media => "screen, projection" %>
        <%= javascript_include_tag 'jquery', 'application', 'jquery.livequery', 'jquery.fancybox', 'jquery.easing' %>
        <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
		      <%= render :partial => 'layouts/ready.js.erb' %>
				<%= yield :javascript%>
		    });
                    
        </script>
		
		<%= yield :headers %>
    </head>
    <body>
        <div id="site">
            <%= render :partial => "layouts/frontpage_header" %>
            <div id="home">
                <div id="header">
                    <div class="banner_busqueda">
                        <div id="espacio_busqueda">
                            <% flash.each do |name, msg| %>
                            <div class="<%= name %>">
                                <%= msg %>
                            </div>
                            <% end %>
                        </div>
                        <div class="div_busqueda">
                            <div id="subtexto_busqueda">
                                <%=link_to t("find.browse"), spaces_path,:class => "show_all_link" %>
                                |<a href="help">Help</a>
                            </div>
                            <%= yield :search %>
                        </div>
                        <br class="clearfloat" />
                    </div>
                </div>
                <div id="content">
                    <%= yield %>
                </div>
            </div>
            <div id="sponsor-wrapper">
                <%= render :partial => "layouts/sponsor" %>
            </div>
            <div id="footer-wrapper">
                <%= render :partial => "layouts/footer" %>
            </div>
        </div>
        <%if false && current_site.domain == "globalplaza.org" %>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12096965-1");
                pageTracker._trackPageview();
            } 
            catch (err) {
            }
        </script>
        <%end %>
    </body>
</html>
